table,td,th{
    border: 2px solid black;
    border-collapse: collapse;
}
table{
    border: 5px solid black;
    width: 35%;
}
td{
    font-family:cursive;
    text-decoration-style: double;
}
table{
    position: absolute;
    left:30%;
    top: 30%;
}
th{
    text-align: left;
}
