table{
    width: 50%;
    border-collapse: collapse;
    background-color: white;
    border: 5px solid black;
    margin:auto
}
th,td{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
}
td{
    border-top: 10px;
}
.line{
    border-left: 5px solid white;
}
