body{
    background-image: url(https://www.brahmandtour.com/img/tea-estates-munnar-kerala-india-1919x1080.jpg)
}
h1{
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    text-align: center;
}
#l1{
    text-decoration: none;
    color: #556B2F;
    text-align: center;
    position: absolute;
    font-size: 35px;
    left: 45%;
    line-height: 1.2;
}
#l2{
    text-decoration: none;
    color: #F5F5DC;
    text-align: center;
    position: absolute;
    font-size: 35px;
    left: 45%;
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 1.2;
}
#l3{
    text-decoration: none;
    color: #FFD700;
    text-align: center;
    font-size: 35px;
    position: absolute;
    left: 45.5%;
    padding-top: 25px;
}